{% extends "base.html" %}

{% block content %}
{% include "intro.html" %}

<div class="container">
    <div class="papers-header-class">
        <div class="papers-header-div">
            <h2 id="papers-header">Papers</h2>
        </div>
        {% for topic in topics %}
        <div id="{{ topic }}-icon" class="paper-topic-icon" onclick="filterPapers('{{ topic }}')">
            {{ svg_contents[topic] | safe }}
        </div>
        {% endfor %}
    </div>
    <div id="papers-container" style="display: none;">
        {% for paper in papers %}
        {% with paper_id=paper.paper_id %}
        {% include "paper_item.html" %}
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}

