{% extends "base.html" %}

{% block content %}
{% include "intro.html" %}

<div class="container">
    <div class="papers-header-class">
        <div class="papers-header-div">
            <h2 id="papers-header">Papers</h2>
        </div>
        {% for topic in topics %}
        <div id="{{ topic }}-icon" class="paper-topic-icon" onclick="filterPapers('{{ topic }}')">
            <img src="{{ topic }}.svg" alt="{{ topic }}">
        </div>
        {% endfor %}
    </div>
    <div id="papers-container" class="papers-container-hidden">
        <!-- Papers are loaded dynamically via JavaScript -->
        <div id="papers-loading" class="papers-loading">
            Loading papers...
        </div>
    </div>
</div>
{% endblock %}

